  <div class="col-6 col-sm-11 text-start">
    <% if review.favorited_by?(current_user) %>
      <%= link_to book_review_favorites_path(review.id, review.book.id), method: :delete, remote: true do %>
        <span class="favorite-true favorite-btn"><i class="fas fa-heart"></i></span>
      <% end %>
    <% else %>
      <%= link_to book_review_favorites_path(review.id, review.book.id), method: :post, remote: true do %>
        <span class="favorite-false favorite-btn"><i class="far fa-heart"></i></span>
      <% end %>
    <% end %>
    いいね<%= link_to "（#{review.favorites.count}）" ,book_review_review_favorites_path(review.id, review.book.id) %>
  </div>