  
  <!--検索結果を表示-->
  <% @books.each do |book| %>
    <div class="table-group-divider">
      <table> 
        <tbody>
          <tr>
            <%= link_to (image_tag(book.medium_image_url)), book.item_url %>
          </tr>
          <tr>
            <%= link_to book.title, new_book_path(id: book.title, isbn: book.isbn) %>
          </tr>
          <tr>
            <%= book.author %>
          </tr>
        </tbody>
      </table>
    </div>
  <% end %>
    <br><%= paginate @books %>