  <div class="row-lg-8 main-top">
    <%= render 'shared/error', model: @book %>
    <div class="col-sm-12 col-md-12 col-lg-8 mx-auto p-5 text-center">
      <div class="row">
        <%= render 'books/book_form' %>
      </div>
    </div>
  </div>