  <div class="row main-top">
    <div class="col-12 col-sm-11 col-lg-6 mx-auto">
      <h3 class="text-center">通知</h3>
      <%= link_to notification_notifications_destroy_all_path(@notifications), method: :delete do %>
        <i class="fas fa-trash" style="color: #5a4138;"></i>
        <h7 style="color: #5a4138;">全削除</h7>
      <% end %>
      <%= render @notifications if @notifications.present? %>
      <%= content_tag(:div, "通知はまだありません", class: "notifications my-3 p-2") if @notifications.empty? %>
    </div>
  </div>